/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --main-color: #087f5b;
  --grey-color: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: var(--grey-color);
  line-height: 1;
}

.pagination {
  width: 600px;
  margin: 200px auto;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination__btn {
  box-sizing: content-box;
  cursor: pointer;

  height: 24px;
  width: 24px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  padding: 12px;
  /*font-weight: 900;*/

  background-color: #fff;
  color: var(--main-color);
}

.pagination__btn:hover {
  background-color: var(--main-color);
  color: #f1f3f5;
}

.pagination a {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 16px;
  width: 16px;
  padding: 17px;
  border-radius: 50%;

  color: var(--grey-color);
}

.pagination a:hover {
  color: #f1f3f5;
  background-color: var(--main-color);
}

.pagination span {
  cursor: default;
}
